.sections-productList-external {
    background-color: #ebebeb;
    display: flex;
    width: 100%;
    flex-direction: column;
    height: 100%;
    margin: 0;
}
.sections-productList-content {
    background-color: white;
    margin:2em;
    margin-left: 10em;
    margin-left: 10em;
    margin-bottom: 5em;
    height: 100%;


}